organization = "my-tfc-org"

projects = {
  my-new-prj-1 = {
    team_access = {
      example-platform-team = "admin"
      example-app-team-1    = "maintain"
    }
    variable_set_names = ["example-varset-1", "example-varset-2"] # must be non-global variable set
    policy_set_names   = ["example-polset-1", "example-polset-a"] # must be non-global policy set
  }
  my-new-prj-2 = {
    team_access = {
      tfc-owners = "admin"
      app-team-2 = "write"
    }
    variable_set_names = ["example-varset-3", "example-varset-4"] # must be non-global variable set
    policy_set_names   = ["example-polset-1", "example-polset-b"] # must be non-global policy set
  }
}